.topnav {
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: grey;
    color: black;
}

.topnav a.active {
    background-color: ;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.box12 {
    color: black;
    margin: auto;
    padding: 30px 15px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box1 {
    margin: 45px;
    padding: 30px 15px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box3 {
    color: white;
    margin: 10px;
    padding: 15px 10px 5px;
    background-color: rgb(255, 129, 150);
    border-radius: 25px;
    text-align: center;
}

.box2 {
    color: white;
    margin: 10px;
    padding: 15px 10px 5px;
    background-color: rgb(87, 117, 250);
    border-radius: 25px;
    text-align: center;
}

.flex1 {
    padding: 80px 30px;
    /* background-image: url('assets/img/flex1.jpg'); */
}

.flex2 {
    padding: 80px 30px;
    /* background-image: url('assets/img/flex2.jpg'); */
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}

.colflex {
    color: white;
}

.blog {
    padding: 30px 30px;
    background-color: #ffffff;
}

.colphoto {
    padding: 10px;
}

.imgcol {
    border-radius: 25px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px
}

.tellus {
    padding: 30px 30px;
    background-color: #f2f2f2;
}

.pstyle {
    color: rgb(144, 144, 144);
}

input,
select,
textarea {
    width: 48.5%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit],
.bt1 {
    width: auto;
    background-color: #8533ff;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 25px 25px;
    cursor: pointer;
}

.bt1,
input[type=submit]:hover {
    background-color: #b380ff;
}

.footer1 {
    padding: 30px 15px;
    background: linear-gradient(to left, #8f00b3 0%, #e600f2 50%);
}

.fa {
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    background-color: white;
}

.fa:hover {
    opacity: 0.7;
}

ul#menu li {
    display: inline;
}